[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pyright = "*"
black = "*"
typing = "*"
var-dump = "*"

[dev-packages]
neovim = "*"
flake8 = "*"
pylint = "*"
isort = "*"
msgpack = "*"
pynvim = "*"
bpython = "*"
ipython = "*"

[requires]
python_version = "3.10"
